<%= form_for(@homeapi) do |f| %>
  <% if @homeapi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@homeapi.errors.count, "error") %> prohibited this homeapi from being saved:</h2>

      <ul>
      <% @homeapi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
    <%= f.text_field :tag, class: 'form-control', placeholder: 'Tag' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
