<p id="notice"><%= notice %></p>
<div class='row'>
	<%  @resultado.each do |p| %>
	<div class="col-md-12">
		<h2><a href="<%=p['URL'].html_safe%>"><%=p['title'].html_safe%></a><br /></h2>
		<%=p['excerpt'].html_safe%>
		<hr/>
	</div>
	<%end%>
</div>
<%= link_to 'Volver', homeapis_path %>
