<p id="notice"><%= notice %></p>

<%  @resultado.each do |p| %>
Nro Post: <%= @resultado.index(p)%>
Título: <%=p['title'].html_safe%> <br />
Content: <%=p['content'].html_safe%>
<hr/>
<%end%>

<%= link_to 'Back', homeapis_path %>
